@font-face {
  font-family: 'SpaceFont';
  src: url('Fonts\\space age.ttf') format('woff2'),
}
@font-face {
  font-family: 'SpaceFontDefault';
  src: url('Fonts\\good timing bd.otf') format('woff2'),
}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.Main_Title{
  position: absolute;
  top: 50%;
  left: 5%;
  font-family: 'SpaceFont', sans-serif;
  font-size: 40px;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.Main_Tagline{
  position: absolute;
  top: 60%;
  left: 5%;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.Menu_Panel{
  position: absolute;
  top: 5%;
  right: 2%;
  width: 20%;
  height: 90%;
  background-color: black;
  border: 2px solid #000;
  border-radius: 10px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 1;
}
.Menu_Home_Button{
  position: absolute;
  top: 20%;
  right: 8%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Menu_Home_Button:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Menu_Store_Button{
  position: absolute;
  top: 40%;
  right: 8%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Menu_Store_Button:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.Home_Display_Container{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: black;
  border: 2px solid #000;
  border-radius: 40px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}

.Home_Label{
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: transparent;
  color: white;
  font-family: 'SpaceFont', sans-serif;
  font-size: 40px;
  transition: opacity 0.5s ease;
  z-index: 2;
  opacity: 0;
	}
	
.Home_Center_Display{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50%;
  height: 40%;
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}

.Home_Bottom_Display{
  position: absolute;
  top: 65%;
  left: 10%;
  width: 50%;
  height: 20%;
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}

.Home_Side_Display_1{
  position: absolute;
  top: 20%;
  left: 65%;
  width: 25%;
  height: 18%;
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}

.Home_Side_Display_2{
  position: absolute;
  top: 43%;
  left: 65%;
  width: 25%;
  height: 18%;
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}

.Home_Side_Display_3{
  position: absolute;
  top: 66%;
  left: 65%;
  width: 25%;
  height: 18.5%;
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.Store_Display_Container{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: black;
  border: 2px solid #000;
  border-radius: 40px;
  transition: opacity 0.5s ease;
  opacity: 0; 
  z-index: 2;
}
.Store_Label{
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: transparent;
  color: white;
  font-family: 'SpaceFont', sans-serif;
  font-size: 40px;
  transition: opacity 0.5s ease;
  z-index: 2;
  opacity: 0;
	}
.Store_Seller_Button_1{
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Store_Seller_Button_1:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Seller_Button_2{
  position: absolute;
  top: 40%;
  left: 20%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Store_Seller_Button_2:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Seller_Button_3{
  position: absolute;
  top: 50%;
  left: 20%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Store_Seller_Button_3:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Seller_Button_4{
  position: absolute;
  top: 60%;
  left: 20%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Store_Seller_Button_4:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Seller_Button_5{
  position: absolute;
  top: 70%;
  left: 20%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
	}
.Store_Seller_Button_5:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Voidship_Button{
  position: absolute;
  top: 22%;
  left: 40%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
}
.Store_Voidship_Button:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Resource_Button{
  position: absolute;
  top: 22%;
  left: 55%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
}
.Store_Resource_Button:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Technology_Button{
  position: absolute;
  top: 22%;
  left: 70%;
  color: white;
  background-color: transparent;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
}
.Store_Technology_Button:Hover{
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;	
	}
.Store_Slot_1{
  position: absolute;
  top: 30%;
  left: 40%;
  width: 20%;
  height: 20%;
  background-color: black;
  background-image: url('Voidship\\FA-11.png');
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.1s ease, transform 0.5s ease-in-out;
  opacity: 0; 
  z-index: 2;
}
.Store_Slot_1:Hover{
  transform: scale(1.1);
}
.Store_Slot_1_Label{
  position: relative;
  top: 50%;
  left: 20%;
  color: white;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  transition: opacity 0.5s ease;
  z-index: 2;
  opacity: 0;
}

.Store_Slot_1:Hover .Store_Slot_1_Label{
  opacity: 1;
}

.Store_Slot_2{
  position: absolute;
  top: 55%;
  left: 40%;
  width: 20%;
  height: 20%;
  background-color: black;
  background-image: url('Voidship\\FA-11.png');
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease, transform 0.5s ease-in-out;
  opacity: 0; 
  z-index: 2;
}
.Store_Slot_2:Hover{
  transform: scale(1.1);
}
.Store_Slot_2_Label{
  position: relative;
  top: 50%;
  left: 20%;
  color: white;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  transition: opacity 0.5s ease;
  z-index: 2;
  opacity: 0;
}

.Store_Slot_2:Hover .Store_Slot_2_Label{
  opacity: 1;
}
.Store_Slot_3{
  position: absolute;
  top: 30%;
  left: 63%;
  width: 20%;
  height: 20%;
  background-color: black;
  background-image: url('Voidship\\FA-11.png');
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease, transform 0.5s ease-in-out;
  opacity: 0; 
  z-index: 2;
}
.Store_Slot_3:Hover{
  transform: scale(1.1);
}
.Store_Slot_3_Label{
  position: relative;
  top: 50%;
  left: 20%;
  color: white;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  transition: opacity 0.5s ease;
  z-index: 2;
  opacity: 0;
}

.Store_Slot_3:Hover .Store_Slot_3_Label{
  opacity: 1;
}
.Store_Slot_4{
  position: absolute;
  top: 55%;
  left: 63%;
  width: 20%;
  height: 20%;
  background-color: black;
  background-image: url('Voidship\\FA-11.png');
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  border-radius: 5px;
  transition: opacity 0.5s ease, transform 0.5s ease-in-out;
  opacity: 0; 
  z-index: 2;
}
.Store_Slot_4_Label{
  position: relative;
  top: 50%;
  left: 20%;
  color: white;
  font-family: 'SpaceFontDefault', sans-serif;
  font-size: 20px;
  transition: opacity 0.5s ease;
  z-index: 2;
  opacity: 0;
}

.Store_Slot_4:Hover .Store_Slot_4_Label{
  opacity: 1;
}
.Store_Slot_4:Hover{
  transform: scale(1.1);
}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
html, body {
  margin: 0;
  padding: 100px, 100px;
  height: 100%;
}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.Menu_Button {
    background-image: url('menu.png'); 
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 1px;   
    width: 104px; 
    height: 96px; 
    border: none; 
	opacity: 0;
    z-index: 2;
    transform: scaleX(0.3) scaleY(0.3);
    transition: opacity 0.5s ease;
  }
.Menu_Button:Hover{
	cursor: pointer; 
	}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.transparent {
  opacity: 0; 
}
.non_transparent {
  opacity: 1; 
}
.semi_transparent{
  opacity: 0.7;
}
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
.image-container {
   width: 100%;
   height: 100%;
   border: 1px solid #000;
   position: relative;
   overflow: hidden;
   background-color: #333;
        }
img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0; /* Initially hidden */
   transition: opacity 1s ease-in-out; /* Transition for fading effect */
        }
    
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%; /* Adjust width of gradient overlay */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1; /* Ensure the gradient is positioned above the background image */
		}